#box div img{
    height:300px;
animation: Fotos 8s ease;
display: none;
transition: 5.5s;
}


@keyframes Fotos {
    0%{transform: translateY(200px);}
    20%{transform: translateY(0px);}
}



body{
    height: 1700px;
}


#box{
    display: flex;
justify-content: space-evenly;
position: relative;
top: 500px;
}


#box div{
    background: red;
    height: 300px;
    width: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
}